* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  width: 280px;
  height: 350px;
  background-color: #eee;
  border-radius: 10px;
}

.card > img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.card .inner-card {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

h5 {
  text-align: center;
}
