* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 50%;
  height: 50%;
  background-color: rgb(92, 87, 87);
  color: rgb(233, 225, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
