* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: black;
}

img {
  width: 50px;
  height: 50px;
  position: fixed;
  transform: translate(-50%, -50%);
  transition: all 0.3 ease;
}
