* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > .card {
  width: 30%;
  height: 80%;
  background-color: #eee;
  border-radius: 10px;
}

main > .card > img {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-radius: 10px;
}

main > .card .inner-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

i {
  /* background-color: red; */
  position: relative;
  /* overflow: hidden; */
  z-index: 999;
}

i > span {
  background-color: red;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
